<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello AgentDesktop!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>"/>
    <link rel="stylesheet" href="https://cdn.shoelace.style/1.0.0-beta24/shoelace.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
  </head>

  <body>
    <main role="main" style="font-size: large; padding: 10%;">
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>

    <style>
      html,
      body,
      main {
        height: 100%;
        width: 100%;
      }

      body {
        padding: 10%;
        text-align: left;
      }

      .button-response-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
      }

      .button-response-container > a.script-answer {
        margin: 15px;
        width: 200px;
      }

      .candidate-header {
        text-align: center;
      }
    </style>
  </body>
</html>
