<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello AgentDesktop!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>"/>
    <link rel="stylesheet" href="https://cdn.shoelace.style/1.0.0-beta24/shoelace.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/superagent/3.8.2/superagent.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
  </head>

  <body>
    <div class="container">
      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div>

    <style>
      html,
      body,
      .container {
        height: 100%;
        width: 100%;
      }

      main {
        max-width: 700px;
        max-height: 100%;
        padding: 30px;
        overflow-y: auto;
      }

      .container {
        text-align: left;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .button-response-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
      }

      .button-response-container > a.script-answer {
        margin: 5px;
        width: 250px;
        font-size: 16px;
      }

      .candidate-header {
        text-align: center;
      }
    </style>
  </body>
</html>
