<div>
  <h1 class="candidate-header"> <%= @script.name %> </h1>
</div>

<br/>

<button id="home-button" style="display: none; margin-bottom: 5px;" class="button-lg" onclick="home()">
  <i class="fa fa-home"></i>
  Home
</button>

<div id="top" class="script-section">
  <%= raw(top_contents(@voter, @script.answers)) %>
  <br/>

  <div class="button-response-container">
    <%= for answer <- sorted_answers_for("top", @script.answers) do %>
      <a class="button button-xl script-answer enabled button-<%= answer[~s(color)] %>"
        data-answer="<%= answer[~s(id)] %>">
        <%= answer["display_name"] %>
      </a>
    <% end %>
  </div>
</div>

<%= for answer <- non_top_answers(@script.answers) do %>
  <div id="<%= answer[~s(id)] %>" style="display: none;" class="script-section">
    <%= raw(answer_contents(@voter, answer)) %>

    <div class="button-response-container">
      <%= for answer <- sorted_answers_for(answer, @script.answers) do %>
        <a class="button button-xl script-answer button-<%= answer[~s(color)] %>"
          data-answer="<%= answer[~s(id)] %>">
          <%= answer["display_name"] %>
        </a>
      <% end %>
    </div>
  </div>
<% end %>

<script>

function handleButtonClick(params) {
  var id = params.overrideId || this.getAttribute('data-answer');
  var chosen_section = document.getElementById(id);

  Array.from(document.querySelectorAll('.script-section')).forEach(function (section) {
    section.style.display = 'none';
    Array.from(section.querySelectorAll('a')).forEach(function (anchor) {
      anchor.classList.remove('enabled');
    });
  });

  chosen_section.style.display = 'block';
  Array.from(chosen_section.querySelectorAll('a')).forEach(function (anchor) {
    anchor.classList.add('enabled');
  });

  document.getElementById('home-button').style.display = 'block';

  initialize()
}

function initialize () {
  Array.from(document.querySelectorAll('a.enabled')).forEach(function (el) {
    el.onclick = handleButtonClick;
  })
}

function home () {
  handleButtonClick({overrideId: 'top'})
  document.getElementById('home-button').style.display = 'none';
}

initialize()

</script>