<div>
  <button id="home-button" style="display: none; margin-bottom: 5px; float: left;" class="button" onclick="home()">
    <i class="fa fa-home"></i>
    Home
  </button>

  <h1 class="candidate-header"> <%= @script.name %> </h1>
</div>

<br/>

<div id="top" class="script-section">
  <%= raw(top_contents(@voter, @script.answers)) %>
  <br/>

  <div class="button-response-container">
    <%= for answer <- sorted_answers_for("top", @script.answers) do %>
      <a class="button button-xl script-answer enabled button-<%= answer[~s(color)] %>"
        <%= if answer["track_clicks"] do %>
          data-controller="tracker" data-action="tracker#track" data-target="tracker.button" data-candidate="<%= @script.name %>"
        <% end %>
        data-reference-name="<%= answer["reference_name"] %>"

        data-answer="<%= answer[~s(id)] %>">
        <%= answer["display_name"] %>
      </a>
    <% end %>
  </div>
</div>

<%= for answer <- non_top_answers(@script.answers) do %>
  <div id="<%= answer[~s(id)] %>" style="display: none;" class="script-section">
    <span id="<%= answer[~s(id)] %>-source" class="refreshable-source" style="display: none;">
      <%= raw(answer_contents(@voter, answer)) %>
    </span>
    <span id="<%= answer[~s(id)] %>-target" class="refreshable-target">
      <%= raw(answer_contents(@voter, answer)) %>
    </span>

    <%= if answer["contact_widget"] != nil do %>
      <div>
        <%= render "contact-widget.html", Map.merge(assigns, %{
          widget_id: answer["contact_widget"],
          section: answer["reference_name"],
          candidate: @script.name
        }) %>
      </div>
    <% end %>
  
    <%= if answer["event_widget"] == true do %>
      <div>
        <%= render "event-widget.html", Map.merge(assigns, %{
          widget_id: answer["id"]
        }) %>
      </div>
    <% end %>

    <%= if is_list(answer["questions"]) do %>
      <div>
        <%= render "form-widget.html", Map.merge(assigns, %{
          widget_id: answer["id"],
          section: answer["reference_name"],
          questions: questions_for(answer["questions"]),
          form_label: answer["form_label"],
          candidate: @script.name
        }) %>
      </div>
    <% end %>

    <div class="button-response-container">
      <%= for answer <- sorted_answers_for(answer, @script.answers) do %>
        <a class="button button-xl script-answer button-<%= answer[~s(color)] %>"
          <%= if answer["track_clicks"] do %>
            data-controller="tracker" data-action="tracker#track" data-target="tracker.button" data-candidate="<%= @script.name %>"
          <% end %>
          data-reference-name="<%= answer["reference_name"] %>"
          data-answer="<%= answer[~s(id)] %>">
          <%= answer["display_name"] %>
        </a>
      <% end %>
    </div>
  </div>
<% end %>

<script>

window.path = [];

function handleButtonClick(params) {
  var id = params.overrideId || this.getAttribute('data-answer');

  if (params.overrideId) {
    window.path = [];
  } else {
    window.path.push(params.target.getAttribute('data-reference-name'));
    refreshContents()
  }
  
  var chosen_section = document.getElementById(id);

  Array.from(document.querySelectorAll('.script-section')).forEach(function (section) {
    section.style.display = 'none';
    Array.from(section.querySelectorAll('a')).forEach(function (anchor) {
      anchor.classList.remove('enabled');
    });
  });

  chosen_section.style.display = 'block';
  Array.from(chosen_section.querySelectorAll('a.script-answer')).forEach(function (anchor) {
    anchor.classList.add('enabled');
  });

  document.getElementById('home-button').style.display = 'block';

  initialize()
}

function initialize () {
  Array.from(document.querySelectorAll('a.enabled')).forEach(function (el) {
    el.onclick = handleButtonClick;
  })
}

function home () {
  handleButtonClick({overrideId: 'top'})
  document.getElementById('home-button').style.display = 'none';
}

function refreshContents() {
  Array.from(document.querySelectorAll('.refreshable-target'))
  .forEach(function (target) {
    var answer = target.id.split('-')[0];
    var template = document.getElementById(answer + '-source').innerHTML;
    var html = template.replace(/\{\{\s*path\[[0-9]\]\s*\}\}/g, function (path_expr) {
      var index = path_expr.split('[')[1].split(']')[0];
      return window.path[parseInt(index) - 1];
    });

    target.innerHTML = html;
  })
}

initialize()

</script>