<fieldset id="widget-container-<%= @widget_id %>">
  <legend> Send a follow-up message </legend>

  <form id="<%= @widget_id %>">
    <label> Email or text? </label>
    <input type="hidden" name="_csrf_token" value="<%= Plug.CSRFProtection.get_csrf_token() %>" />
    <input type="hidden" name="original_number" value="<%= @voter[~s(phone)] %>" />
    <input type="hidden" name="voter_id" value="<%= @voter[~s(account)] %>" />
    <input type="hidden" name="first_name" value="<%= @voter[~s(first)] %>" />
    <input type="hidden" name="last_name" value="<%= @voter[~s(last)] %>" />
    <input type="hidden" name="section" value="<%= @section %>" />
    <br/>

    <div class="input-field">
      <input id="text-toggle" type="radio" name="email_or_text" value="text" checked="true" onclick="handleTextToggle(this)" /> <label> Text </label>

      <span id="is-mobile-insert"></span>
      <br/>

      <input id="email-toggle" type="radio" name="email_or_text" value="email" onclick="handleEmailToggle(this)" /> <label> Email </label>
      <input id="email-input" type="email" name="email" placeholder="name@example.com" style="display: none;"/>
    </div>

    <br/>
    <h5> Message Preview </h3>
    <blockquote>
      <%= get_widget_contents(@widget_id) %>
    </blockquote>

    <input type="submit" class="button button-block" value="Send"/>
  </form>
</fieldset>

<script>

function handleTextToggle(el) {
  var keep;
  var remove;

  if (el.checked) {
    keep = document.getElementById("text-input");
    remove = document.getElementById("email-input");
  } else {
    remove = document.getElementById("text-input");
    keep = document.getElementById("email-input");
  }

  keep.setAttribute("required", "required");
  keep.style.display = "block";
  document.querySelector('.input-hint').style.display = "block";

  remove.removeAttribute("required");
  remove.style.display = "none";
}

function handleEmailToggle (el) {
  var keep;
  var remove;

  if (!el.checked) {
    keep = document.getElementById("text-input");
    remove = document.getElementById("email-input");
  } else {
    remove = document.getElementById("text-input");
    keep = document.getElementById("email-input");
  }

  keep.setAttribute("required", "required");
  keep.style.display = "block";

  remove.removeAttribute("required");
  remove.style.display = "none";
  document.querySelector('.input-hint').style.display = "none";
}

function renderIsMobile() {
  window.superagent
    .get('/api/lookup/<%= @voter[~s(phone)] %>')
    .end(function (err, res) {
      console.log(err)
      console.log(res)
      var is_mobile = err || res.body.is_moble === false;

      if (is_mobile) {
        document.getElementById('is-mobile-insert').innerHTML =
          '<input type="tel" style="display: none;" name="number" value="<%= @voter[~s(phone)] %>"/>';
      } else {
        document.getElementById('is-mobile-insert').innerHTML =
          '<input id="text-input" type="tel" name="number" required="true" />\
          <p class="input-hint"> You are calling them at a landline. What is their cell phone? </p>'
      }
    });
}

function toObject(form) {
  var obj = {};
  var elements = form.querySelectorAll( "input, select, textarea" );
  for( var i = 0; i < elements.length; ++i ) {
    var element = elements[i];
    var name = element.name;
    var value = element.value;

    if ( name && ( element.type !== "radio" || element.checked === true ))
      obj[ name ] = value;
  }

  return obj;
}


var form = document.getElementById("<%= @widget_id %>")
form.addEventListener('submit', function (ev) {
  ev.preventDefault();
  var data = toObject(ev.target)

  window.superagent
    .post('/api/send-contact/<%= @widget_id %>')
    .send(data)
    .end(function (err, res) {
      var container = document.getElementById('widget-container-<%= @widget_id %>')
      console.log(container)
      console.log(container.parentElement)
      container.parentElement.innerHTML = '<h3> Message Sent </h3>';
    })
})

renderIsMobile()

</script>
