<fieldset data-controller="contact"
  data-target="contact.container" data-widget-id="<%= @widget_id %>">
  <legend> Send a follow-up message </legend>

  <form class="contact-widget-<%= @widget_id %>" data-target="contact.form" data-action="contact#submit">
    <label> Email or text? </label>
    <input type="hidden" name="_csrf_token" value="<%= Plug.CSRFProtection.get_csrf_token() %>" />
    <input type="hidden" name="original_number" value="<%= @voter[~s(phone)] %>" data-target="contact.dataPhone" />
    <input type="hidden" name="voter_id" value="<%= @voter[~s(account)] %>" />
    <input type="hidden" name="first_name" value="<%= @voter[~s(first)] %>" />
    <input type="hidden" name="last_name" value="<%= @voter[~s(last)] %>" />
    <input type="hidden" name="section" value="<%= @section %>" />
    <input type="hidden" name="candidate" value="<%= @candidate %>" />
    <br/>

    <div class="input-field">
      <input class="text-toggle" type="radio" name="email_or_text" value="text"
        checked="true" data-action="click->contact#toggleText" />

      <label> Text </label>
      <span class="is-mobile-insert" data-target="contact.inputInsert"></span>
      <br/>

      <input class="email-toggle" type="radio" name="email_or_text" value="email"
        data-action="click->contact#toggleEmail" />

      <label> Email </label>
      <input class="email-input" type="email" name="email" placeholder="name@example.com"
        style="display: none;" data-target="contact.emailInput" />
    </div>

    <br/>
    <h5> Message Preview </h3>

    <blockquote style="font-size: smaller;">
      <%= raw(get_widget_contents(@widget_id)) %>
    </blockquote>

    <input type="submit" class="button button-block" value="Send"/>
  </form>
</fieldset>

