<div id="container">
  <div id="notready">
  </div>
</div>

<script>
  var template = `<%= raw(@not_ready_html) %>`;
  var rendered = Mustache.render(template, JSON.parse('<%= raw(Poison.encode!(@data)) %>'));
  document.getElementById("notready").innerHTML = rendered;

  <%= raw(@script_include) %>
</script>



