<div id="container">
  <div id="notready">
  </div>
  <div id="bottom-bar" data-controller="ready">
    <%= if @go_ready_button do %>
      <button class="button-block button-success button-xl" data-target="ready.button" data-action="ready#go">
        Ready to connect to voters? Click here to go Ready.
      </button>
    <% end %>
  </div>
</div>

<script>
  var template = `<%= raw(@not_ready_html) %>`;
  var rendered = Mustache.render(template, JSON.parse('<%= raw(Poison.encode!(@data)) %>'));
  document.getElementById("notready").innerHTML = rendered;

  <%= raw(@script_include) %>
</script>



